#bank 0
NET "CLK_20M_VCXO_I" LOC = H12;
NET "CLK_20M_VCXO_I" IOSTANDARD = "LVCMOS25";

#NET "clk_125m_pllref_n_i" LOC = F10;
#NET "clk_125m_pllref_n_i" IOSTANDARD = "LVDS_25";
#NET "clk_125m_pllref_p_i" LOC = G9;
#NET "clk_125m_pllref_p_i" IOSTANDARD = "LVDS_25";
#NET "clk_125m_gtp_n_i" LOC = D11;
#NET "clk_125m_gtp_p_i" LOC = C11;
##################################################################### 
### Gennum ports
##################################################################### 
NET "L_RST_N" LOC = N20;
NET "L_RST_N" IOSTANDARD = "LVCMOS18";

NET "GPIO[1]" LOC = U16;
NET "GPIO[1]" IOSTANDARD = "LVCMOS25";
NET "GPIO[0]" LOC = AB19;
NET "GPIO[0]" IOSTANDARD = "LVCMOS25";

NET "P2L_RDY" LOC = J16;
NET "P2L_RDY" IOSTANDARD = "SSTL18_I";

NET "P2L_CLKN" LOC = M19;
NET "P2L_CLKN" IOSTANDARD = "DIFF_SSTL18_I";
NET "P2L_CLKP" LOC = M20;
NET "P2L_CLKP" IOSTANDARD = "DIFF_SSTL18_I";
NET "P2L_DATA[0]" LOC = K20;
NET "P2L_DATA[0]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[1]" LOC = H22;
NET "P2L_DATA[1]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[2]" LOC = H21;
NET "P2L_DATA[2]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[3]" LOC = L17;
NET "P2L_DATA[3]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[4]" LOC = K17;
NET "P2L_DATA[4]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[5]" LOC = G22;
NET "P2L_DATA[5]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[6]" LOC = G20;
NET "P2L_DATA[6]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[7]" LOC = K18;
NET "P2L_DATA[7]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[8]" LOC = K19;
NET "P2L_DATA[8]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[9]" LOC = H20;
NET "P2L_DATA[9]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[10]" LOC = J19;
NET "P2L_DATA[10]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[11]" LOC = E22;
NET "P2L_DATA[11]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[12]" LOC = E20;
NET "P2L_DATA[12]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[13]" LOC = F22;
NET "P2L_DATA[13]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[14]" LOC = F21;
NET "P2L_DATA[14]" IOSTANDARD = "SSTL18_I";
NET "P2L_DATA[15]" LOC = H19;
NET "P2L_DATA[15]" IOSTANDARD = "SSTL18_I";


NET "P2L_DFRAME" LOC = J22;
NET "P2L_DFRAME" IOSTANDARD = "SSTL18_I";

NET "P2L_VALID" LOC = L19;
NET "P2L_VALID" IOSTANDARD = "SSTL18_I";

NET "P_WR_REQ[0]" LOC = M22;
NET "P_WR_REQ[0]" IOSTANDARD = "SSTL18_I";
NET "P_WR_REQ[1]" LOC = M21;
NET "P_WR_REQ[1]" IOSTANDARD = "SSTL18_I";

NET "P_WR_RDY[0]" LOC = L15;
NET "P_WR_RDY[0]" IOSTANDARD = "SSTL18_I";
NET "P_WR_RDY[1]" LOC = K16;
NET "P_WR_RDY[1]" IOSTANDARD = "SSTL18_I";

NET "RX_ERROR" LOC = J17;
NET "RX_ERROR" IOSTANDARD = "SSTL18_I";



NET "L2P_DATA[0]" LOC = P16;
NET "L2P_DATA[0]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[1]" LOC = P21;
NET "L2P_DATA[1]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[2]" LOC = P18;
NET "L2P_DATA[2]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[3]" LOC = T20;
NET "L2P_DATA[3]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[4]" LOC = V21;
NET "L2P_DATA[4]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[5]" LOC = V19;
NET "L2P_DATA[5]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[6]" LOC = W22;
NET "L2P_DATA[6]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[7]" LOC = Y22;
NET "L2P_DATA[7]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[8]" LOC = P22;
NET "L2P_DATA[8]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[9]" LOC = R22;
NET "L2P_DATA[9]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[10]" LOC = T21;
NET "L2P_DATA[10]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[11]" LOC = T19;
NET "L2P_DATA[11]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[12]" LOC = V22;
NET "L2P_DATA[12]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[13]" LOC = V20;
NET "L2P_DATA[13]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[14]" LOC = W20;
NET "L2P_DATA[14]" IOSTANDARD = "SSTL18_I";
NET "L2P_DATA[15]" LOC = Y21;
NET "L2P_DATA[15]" IOSTANDARD = "SSTL18_I";
NET "L2P_DFRAME" LOC = U22;
NET "L2P_DFRAME" IOSTANDARD = "SSTL18_I";
NET "L2P_VALID" LOC = T18;
NET "L2P_VALID" IOSTANDARD = "SSTL18_I";
NET "L2P_CLKN" LOC = K22;
NET "L2P_CLKN" IOSTANDARD = "DIFF_SSTL18_I";
NET "L2P_CLKP" LOC = K21;
NET "L2P_CLKP" IOSTANDARD = "DIFF_SSTL18_I";
NET "L2P_EDB" LOC = U20;
NET "L2P_EDB" IOSTANDARD = "SSTL18_I";


NET "L2P_RDY" LOC = U19;
NET "L2P_RDY" IOSTANDARD = "SSTL18_I";
NET "L_WR_RDY[0]" LOC = R20;
NET "L_WR_RDY[0]" IOSTANDARD = "SSTL18_I";
NET "L_WR_RDY[1]" LOC = T22;
NET "L_WR_RDY[1]" IOSTANDARD = "SSTL18_I";
NET "P_RD_D_RDY[0]" LOC = N16;
NET "P_RD_D_RDY[0]" IOSTANDARD = "SSTL18_I";
NET "P_RD_D_RDY[1]" LOC = P19;
NET "P_RD_D_RDY[1]" IOSTANDARD = "SSTL18_I";
NET "TX_ERROR" LOC = M17;
NET "TX_ERROR" IOSTANDARD = "SSTL18_I";
NET "VC_RDY[0]" LOC = B21;
NET "VC_RDY[0]" IOSTANDARD = "SSTL18_I";
NET "VC_RDY[1]" LOC = B22;
NET "VC_RDY[1]" IOSTANDARD = "SSTL18_I";


##################################################################### 
### SPEC Generic Stuff
##################################################################### 
NET "LED_RED" LOC = D5;
NET "LED_RED" IOSTANDARD = "LVCMOS25";
NET "LED_GREEN" LOC = E5;
NET "LED_GREEN" IOSTANDARD = "LVCMOS25";
NET "dac_cs1_n_o" LOC = A3;
NET "dac_cs1_n_o" IOSTANDARD = "LVCMOS25";
NET "dac_cs2_n_o" LOC = B3;
NET "dac_cs2_n_o" IOSTANDARD = "LVCMOS25";
#NET "dac_clr_n_o" LOC = F7;
#NET "dac_clr_n_o" IOSTANDARD = "LVCMOS25";
NET "dac_din_o" LOC = C4;
NET "dac_din_o" IOSTANDARD = "LVCMOS25";
NET "dac_sclk_o" LOC = A4;
NET "dac_sclk_o" IOSTANDARD = "LVCMOS25";
NET "BUTTON1_I" LOC = C22;
NET "BUTTON1_I" IOSTANDARD = "LVCMOS18";
NET "BUTTON2_I" LOC = D21;
NET "BUTTON2_I" IOSTANDARD = "LVCMOS18";
NET "fmc_scl_b" LOC =  F7 ;
NET "fmc_scl_b" IOSTANDARD =LVCMOS25;
NET "fmc_sda_b" LOC =  F8 ;
NET "fmc_sda_b" IOSTANDARD =LVCMOS25;

#net "led_n_o[0]" loc=c20;
#net "led_n_o[0]" IOSTANDARD=LVCMOS18;
#net "led_n_o[1]" loc=F18;
#net "led_n_o[1]" IOSTANDARD=LVCMOS18;
#net "led_n_o[2]" loc=f20;
#net "led_n_o[2]" IOSTANDARD=LVCMOS18;
#net "led_n_o[3]" loc=G19;
#net "led_n_o[3]" IOSTANDARD=LVCMOS18;
NET "carrier_onewire_b" LOC = D4;
NET "carrier_onewire_b" IOSTANDARD = "LVCMOS25";
NET "fmc_PRSNT_M2C_L_i" LOC="AB14";

#NET "sfp_rxp_i" LOC= D15;
#NET "sfp_rxn_i" LOC= C15;
#NET "sfp_txp_o" LOC= B16;
#NET "sfp_txn_o" LOC= A16;
#NET "SFP_MOD_DEF1_b" LOC = C17;
#NET "SFP_MOD_DEF1_b" IOSTANDARD = "LVCMOS25";
#NET "SFP_MOD_DEF0_b" LOC = G15;
#NET "SFP_MOD_DEF0_b" IOSTANDARD = "LVCMOS25";
#NET "SFP_MOD_DEF2_b" LOC = G16;
#NET "SFP_MOD_DEF2_b" IOSTANDARD = "LVCMOS25";
#NET "SFP_RATE_SELECT_b" LOC = H14;
#NET "SFP_RATE_SELECT_b" IOSTANDARD = "LVCMOS25";
#NET "SFP_TX_FAULT_i" LOC = A17;
#NET "SFP_TX_FAULT_i" IOSTANDARD = "LVCMOS25";
#NET "SFP_TX_DISABLE_o" LOC = F17;
#NET "SFP_TX_DISABLE_o" IOSTANDARD = "LVCMOS25";
#NET "SFP_LOS_i" LOC = D18;
#NET "SFP_LOS_i" IOSTANDARD = "LVCMOS25";
####################################################################################
# Misc
####################################################################################
#NET "uart_rxd_i" LOC= A2;
#NET "uart_rxd_i" IOSTANDARD=LVCMOS25;
#NET "uart_txd_o" LOC= B2;
#NET "uart_txd_o" IOSTANDARD=LVCMOS25;
#bank 0






# <ucfgen_start>
# This section has bee generated automatically by ucfgen.py. Do not hand-modify if not really necessary.
# ucfgen pin assignments for mezzanine fmc-dds-600m slot 0
NET "dds_dac_n_o[11]" LOC = "Y6";
NET "dds_dac_n_o[11]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[11]" LOC = "W6";
NET "dds_dac_p_o[11]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[9]" LOC = "U8";
NET "dds_dac_n_o[9]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[9]" LOC = "T8";
NET "dds_dac_p_o[9]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[6]" LOC = "V9";
NET "dds_dac_n_o[6]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[6]" LOC = "U9";
NET "dds_dac_p_o[6]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[3]" LOC = "Y10";
NET "dds_dac_n_o[3]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[3]" LOC = "W10";
NET "dds_dac_p_o[3]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[0]" LOC = "W11";
NET "dds_dac_n_o[0]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[0]" LOC = "V11";
NET "dds_dac_p_o[0]" IOSTANDARD = "LVDS_25";
NET "dds_pll_sys_sync_n_o" LOC = "AA4";
NET "dds_pll_sys_sync_n_o" IOSTANDARD = "LVCMOS25";
NET "dds_pd_ce_o" LOC = "AB4";
NET "dds_pd_ce_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sys_refmon_i" LOC = "Y15";
NET "dds_pll_sys_refmon_i" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sys_ld_i" LOC = "AB15";
NET "dds_pll_sys_ld_i" IOSTANDARD = "LVCMOS25";
NET "dds_pll_vcxo_sdo_i" LOC = "V13";
NET "dds_pll_vcxo_sdo_i" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sys_reset_n_o" LOC = "W13";
NET "dds_pll_sys_reset_n_o" IOSTANDARD = "LVCMOS25";
NET "dds_adc_sdo_i" LOC = "W14";
NET "dds_adc_sdo_i" IOSTANDARD = "LVCMOS25";
NET "dds_adc_sck_o" LOC = "Y14";
NET "dds_adc_sck_o" IOSTANDARD = "LVCMOS25";
NET "dds_wr_dac_sclk_o" LOC = "Y16";
NET "dds_wr_dac_sclk_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_vcxo_cs_n_o" LOC = "W15";
NET "dds_pll_vcxo_cs_n_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_vcxo_function_o" LOC = "V17";
NET "dds_pll_vcxo_function_o" IOSTANDARD = "LVCMOS25";
NET "dds_si57x_oe_o" LOC = "W18";
NET "dds_si57x_oe_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_vcxo_status_i" LOC = "B20";
NET "dds_pll_vcxo_status_i" IOSTANDARD = "LVCMOS25";
NET "dds_onewire_b" LOC = "A20";
NET "dds_onewire_b" IOSTANDARD = "LVCMOS25";
NET "dds_wr_ref_clk_n_i" LOC = "L22";
NET "dds_wr_ref_clk_n_i" IOSTANDARD = "LVDS_25";
NET "dds_wr_ref_clk_p_i" LOC = "L20";
NET "dds_wr_ref_clk_p_i" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[10]" LOC = "V7";
NET "dds_dac_p_o[10]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[10]" LOC = "W8";
NET "dds_dac_n_o[10]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[7]" LOC = "R9";
NET "dds_dac_p_o[7]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[7]" LOC = "R8";
NET "dds_dac_n_o[7]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[4]" LOC = "T10";
NET "dds_dac_p_o[4]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[4]" LOC = "U10";
NET "dds_dac_n_o[4]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[1]" LOC = "W12";
NET "dds_dac_p_o[1]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[1]" LOC = "Y12";
NET "dds_dac_n_o[1]" IOSTANDARD = "LVDS_25";
NET "dds_trig_term_en_o" LOC = "R11";
NET "dds_trig_term_en_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sys_status_i" LOC = "T11";
NET "dds_pll_sys_status_i" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sclk_o" LOC = "R13";
NET "dds_pll_sclk_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sdio_b" LOC = "T14";
NET "dds_pll_sdio_b" IOSTANDARD = "LVCMOS25";
NET "dds_adc_cnv_o" LOC = "T15";
NET "dds_adc_cnv_o" IOSTANDARD = "LVCMOS25";
NET "dds_adc_sdi_o" LOC = "U15";
NET "dds_adc_sdi_o" IOSTANDARD = "LVCMOS25";
NET "dds_wr_dac_din_o" LOC = "W17";
NET "dds_wr_dac_din_o" IOSTANDARD = "LVCMOS25";
NET "dds_wr_dac_sync_n_o" LOC = "Y18";
NET "dds_wr_dac_sync_n_o" IOSTANDARD = "LVCMOS25";
NET "dds_si57x_sda_b" LOC = "C18";
NET "dds_si57x_sda_b" IOSTANDARD = "LVCMOS25";
NET "dds_si57x_scl_b" LOC = "C19";
NET "dds_si57x_scl_b" IOSTANDARD = "LVCMOS25";
NET "dds_dac_p_o[13]" LOC = "AA12";
NET "dds_dac_p_o[13]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[13]" LOC = "AB12";
NET "dds_dac_n_o[13]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[8]" LOC = "AA6";
NET "dds_dac_p_o[8]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[8]" LOC = "AB6";
NET "dds_dac_n_o[8]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[5]" LOC = "Y7";
NET "dds_dac_p_o[5]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[5]" LOC = "AB7";
NET "dds_dac_n_o[5]" IOSTANDARD = "LVDS_25";
NET "dds_dac_p_o[2]" LOC = "Y9";
NET "dds_dac_p_o[2]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[2]" LOC = "AB9";
NET "dds_dac_n_o[2]" IOSTANDARD = "LVDS_25";
NET "dds_dac_pwdn_o" LOC = "AB13";
NET "dds_dac_pwdn_o" IOSTANDARD = "LVCMOS25";
NET "dds_pd_lockdet_i" LOC = "AA16";
NET "dds_pd_lockdet_i" IOSTANDARD = "LVCMOS25";
NET "dds_pd_clk_o" LOC = "AB16";
NET "dds_pd_clk_o" IOSTANDARD = "LVCMOS25";
NET "dds_pll_sys_cs_n_o" LOC = "Y17";
NET "dds_pll_sys_cs_n_o" IOSTANDARD = "LVCMOS25";
NET "dds_dac_p_o[12]" LOC = "Y5";
NET "dds_dac_p_o[12]" IOSTANDARD = "LVDS_25";
NET "dds_dac_n_o[12]" LOC = "AB5";
NET "dds_dac_n_o[12]" IOSTANDARD = "LVDS_25";
NET "dds_trig_dir_o" LOC = "AA8";
NET "dds_trig_dir_o" IOSTANDARD = "LVCMOS25";
NET "dds_trig_act_o" LOC = "AB8";
NET "dds_trig_act_o" IOSTANDARD = "LVCMOS25";
NET "dds_pd_data_b" LOC = "AA18";
NET "dds_pd_data_b" IOSTANDARD = "LVCMOS25";
NET "dds_pd_le_o" LOC = "AB18";
NET "dds_pd_le_o" IOSTANDARD = "LVCMOS25";
# <ucfgen_end>
#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2013/05/05
NET "clk_20m_vcxo_i" TNM_NET = clk_20m_vcxo_i;
TIMESPEC TS_clk_20m_vcxo_i = PERIOD "clk_20m_vcxo_i" 50 ns HIGH 50%;
NET "dds_wr_ref_clk_n_i" TNM_NET = dds_wr_ref_clk_n_i;
TIMESPEC TS_dds_wr_ref_clk_n_i = PERIOD "dds_wr_ref_clk_n_i" 8 ns HIGH 50%;
NET "dds_wr_ref_clk_p_i" TNM_NET = dds_wr_ref_clk_p_i;
TIMESPEC TS_dds_wr_ref_clk_p_i = PERIOD "dds_wr_ref_clk_p_i" 8 ns HIGH 50%;



#===============================================================================
# Timing constraints
#===============================================================================

# GN4124


#gennum
NET "l_rst_n" TIG;
NET "cmp_gn4124_core/rst_*" TIG;
#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2011/01/20
NET "cmp_gn4124_core/cmp_clk_in/P_clk" TNM_NET = cmp_gn4124_core/cmp_clk_in/P_clk;

INST "cmp_gn4124_core/l2p_rdy_t" IOB=FALSE;
INST "cmp_gn4124_core/l_wr_rdy_t*" IOB=FALSE;

#NET "L_CLKp" TNM_NET = "l_clkp_grp";
#TIMESPEC TS_l_clkp = PERIOD "l_clkp_grp" 5 ns HIGH 50%;
NET "P2L_CLKp" TNM_NET = "p2l_clkp_grp";
TIMESPEC TS_p2l_clkp = PERIOD "p2l_clkp_grp" 5 ns HIGH 50%;
NET "P2L_CLKn" TNM_NET = "p2l_clkn_grp";
TIMESPEC TS_p2l_clkn = PERIOD "p2l_clkn_grp" 5 ns HIGH 50%;

NET "L2P_CLKN" TNM = "gn4124_data_bus_out";
NET "L2P_CLKP" TNM = "gn4124_data_bus_out";
NET "L2P_VALID" TNM = "gn4124_data_bus_out";
NET "L2P_DFRAME" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[0]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[1]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[2]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[3]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[4]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[5]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[6]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[7]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[8]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[9]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[10]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[11]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[12]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[13]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[14]" TNM = "gn4124_data_bus_out";
NET "L2P_DATA[15]" TNM = "gn4124_data_bus_out";

#TIMEGRP "gn4124_data_bus_out" OFFSET = OUT AFTER "cmp_gn4124_core/io_clk" REFERENCE_PIN "L2P_CLKP";

NET "P2L_CLKN" TNM = "gn4124_data_bus_in";
NET "P2L_CLKP" TNM = "gn4124_data_bus_in";
NET "P2L_DFRAME" TNM = "gn4124_data_bus_in";
NET "P2L_VALID" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[0]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[1]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[2]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[3]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[4]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[5]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[6]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[7]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[8]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[9]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[10]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[11]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[12]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[13]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[14]" TNM = "gn4124_data_bus_in";
NET "P2L_DATA[15]" TNM = "gn4124_data_bus_in";

#TIMEGRP "gn4124_data_bus_in" OFFSET = IN 1.2 ns VALID 1.6 ns BEFORE "cmp_gn4124_core/io_clk" RISING;
#TIMEGRP "gn4124_data_bus_in" OFFSET = IN 1.2 ns VALID 1.6 ns BEFORE "cmp_gn4124_core/io_clk" FALLING;
